.body{
    font-family: 'Padauk', sans-serif;
}

/**navbar**/
.nav-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;

}
/**dropdown**/
.dropdown-item{
    letter-spacing:.2em;
    font-size:14px;
    text-transform:uppercase;
}
/**footer**/
.my_footer{
    background-color:#898989
}

.my_footer{
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}
/**category_page_row**/
.my_row_class{
    padding:15px;

}
.my_row_class .mx_auto{
    color:#000;
    font:12px
}
.my_image{
width:100%;
height:auto;
}

.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;

}

.my_bottom_margin{
    margin-bottom:10px;
}
.card-body{
font-size:14px;
letter-spacing:.2em;
text-transform:uppercase;
}

/**product_page**/
.my_product_row_class{
    padding-top:15px;
    padding-bottom:20px;

 }
 .my_product_row_class .mx_auto{
 width:100px;
 height:100px;
 color:#000;
 font-size:12px;
 text-decoration:none;
 }
.my_product_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;

}
/**search_app**/
.my_search_text{
padding-top:20px;
}

/****cart page****/
.my_custom_tble{
min-width:400px;
font-size:14px;

}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
    background-color:blue!important;


}
.custom_a{
    text-decoration:none;

}
.custom_icon{
    text-decoration:none;
    color:yellow !important;
}
.my_custom_button{
    margin-top:5px;

}